header {
  background: linear-gradient(to top, #2b6b9c,#27608d);
  height: 250px;
  padding-top: 5px;

  border-bottom: 2px solid #000;
}

#logo {
  //background: linear-gradient(to top, #2b6b9c,#27608d);
  background-image: url("/images/logo.png");
  background-size: auto;
  background-repeat: no-repeat;

  margin-left: 40px;

  width: 1000px;
  height: 200px;

}

nav {
  margin-left: 200px;
  height: 30px;

  font-size: 28px;
}

a.but {
  margin: 10px 30px;
  text-decoration: none;
  color: #fff;
  transition: border ease-out 0.2s;
  padding: 5px;
  border: 1px solid transparent;

  &:hover {
    border-color: #fff;
  }
  #auth {
    margin-left: 60px;
  }
}